@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

.container {
  padding-left: 100px;
  padding-right: 100px;
}

nav {
  display: flex;
  width: 100%;
  height: 64px;
  padding: 10px 100px 10px 100px;
  box-sizing: border-box;
}

nav .logo {
  width: 25%;
  display: flex;
  justify-content: flex-start;
}

nav .logo img {
  width: 33px;
  height: 100%;
  margin-right: 10px;
}

nav .coffee-shop-text {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

nav .navigation {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav .navigation p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(79, 86, 101, 1);
}

nav .helper {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav .helper {
  display: flex;
}
nav .helper i {
  font-size: 20px;
}
nav .helper img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
}

.content .main-content {
  background-image: url("assets/profile-images/nathan-dumlao-XOhI_kW_TaM-unsplash\ 1.png");
  background-size: cover;
  width: 100%;
  height: 140vh;
}

.content .main-content .title {
  color: #fff;
  padding-top: 50px;
  font-size: 30px;
}

.content .main-content .display-box {
  background: rgba(248, 248, 248, 1);
  width: 100%;
  height: calc(140vh - 220px);
  margin-top: 10px;
  border-radius: 25px;
  display: flex;
  padding: 50px;
}

.content .main-content .display-box .left-content {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.content .main-content .display-box .left-content .photo-profil {
  width: 30vh;
  height: 30vh;
  border-radius: 75%;
  padding: 5px;
  margin-left: 60px;
  margin-right: 10px;
}

.content .main-content .display-box .left-content .user-name {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.content .main-content .display-box .left-content .user-email {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
}

.content .main-content .display-box .left-content .choose-photo-btn {
  width: 75%;
  height: 40px;
  border: none;
  background: rgba(255, 186, 51, 1);
  cursor: pointer;
  border-radius: 15px;
  color: rgba(106, 64, 41, 1);
  font-size: 12px;
  margin-top: 20px;
  margin-left: 40px;
  font-weight: 700;
}

.content .main-content .display-box .left-content .remove-photo-btn {
  width: 75%;
  height: 40px;
  border: none;
  background: rgba(106, 64, 41, 1);
  cursor: pointer;
  border-radius: 15px;
  color: #fff;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 40px;
  font-weight: 700;
}

.content .main-content .display-box .left-content .edit-password-btn {
  width: 75%;
  height: 40px;
  border: 0.5px solid grey;
  background: transparent;
  cursor: pointer;
  border-radius: 15px;
  color: rgba(106, 64, 41, 1);
  font-size: 12px;
  margin-top: 20px;
  margin-left: 40px;
  font-weight: 700;
}

.content .main-content .display-box .left-content .do-you-btn {
  width: 75%;
  height: 40px;
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 15px;
  color: rgba(106, 64, 41, 1);
  font-size: 18px;
  margin-top: 20px;
  margin-left: 40px;
  font-weight: 700;
}

.content .main-content .display-box .left-content .save-change-btn {
  width: 75%;
  height: 40px;
  border: none;
  background: rgba(106, 64, 41, 1);
  cursor: pointer;
  border-radius: 15px;
  color: #fff;
  font-size: 12px;
  margin-top: 15px;
  margin-left: 40px;
  font-weight: 700;
}

.content .main-content .display-box .left-content .cancel-btn {
  width: 75%;
  height: 40px;
  border: none;
  background: rgba(255, 186, 51, 1);
  cursor: pointer;
  border-radius: 15px;
  color: rgba(106, 64, 41, 1);
  font-size: 12px;
  margin-top: 10px;
  margin-left: 40px;
  font-weight: 700;
}

.content .main-content .display-box .left-content .logout-btn {
  width: 75%;
  height: 40px;
  border: 0.5px solid grey;
  background: transparent;
  cursor: pointer;
  border-radius: 15px;
  color: rgba(106, 64, 41, 1);
  font-size: 12px;
  margin-top: 40px;
  margin-left: 40px;
  font-weight: 700;
}

.content .main-content .display-box .right-content {
  padding-top: 0;
  padding-left: 25px;
  width: 70%;
  border-radius: 15px;
  border-bottom: 10px solid #6a4029;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.49);
}

.content .main-content .display-box .right-content .contact form {
  display: flex;
}

.content .main-content .display-box .right-content .title {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: #4f5665;
  padding-top: 20px;
}

.content .main-content .display-box .right-content label {
  margin-top: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #9f9f9f;
}

.content .main-content .display-box .right-content input {
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid #000000;
  background-color: transparent;
}

.content .main-content .display-box .right-content .contact form .left-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 0;
}

.content .main-content .display-box .right-content .contact form .right-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 0;
}

.content .main-content .display-box .right-content .details form {
  display: flex;
}

.content .main-content .display-box .right-content .details form .left-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 0;
}

.content .main-content .display-box .right-content .details form .right-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 0;
}

.content .main-content .display-box .right-content .radio-gender {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.content .footer {
  /* background-color: gray; */
  width: 100%;
  height: 110px;
}

/* footer */
.footer {
  background-color: rgba(248, 248, 248, 1);
  display: flex;
  /* height: 26.5%; */
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-top: 10px;
  padding-left: 70px;
}

.footer .left-footer {
  width: 50%;
  padding: 30px 40px 30px 40px;
  box-sizing: border-box;
}

.footer .left-footer .logo {
  display: flex;
  align-items: center;
}

.footer .left-footer .logo img {
  width: 20px;
  height: 23px;
}

.footer .left-footer .logo p {
  font-size: 14px;
  margin-left: 10px;
  font-weight: 700;
}

.footer .left-footer .about {
  width: 90%;
}

.footer .left-footer .about p {
  font-size: 12px;
  margin-top: 10px;
}

.footer .left-footer .social-media {
  display: flex;
}

.footer .left-footer .social-media img {
  width: 20px;
  height: 20px;
  margin: 5px 10px 5px 0;
  background-color: rgba(106, 64, 41, 1);
  border-radius: 25px;
  box-shadow: 0px 4px 23px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 4px 23px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 4px 23px 1px rgba(0, 0, 0, 0.15);
}

.footer .left-footer .copyright {
  font-size: 12px;
  color: rgba(175, 181, 192, 1);
}

.footer .right-footer {
  width: 50%;
  padding: 20px 40px 30px 40px;
  display: flex;
  justify-content: flex-end;
}

.footer .right-footer .product {
  font-size: 12px;
}

.footer .right-footer .product .nav {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  width: 100%;
}

.footer .right-footer .product .nav p {
  margin: 2px;
  color: rgba(79, 86, 101, 1);
}

.footer .right-footer .engage {
  font-size: 12px;
}

.footer .right-footer .engage .nav {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  width: 100%;
}

.footer .right-footer .engage .nav p {
  margin: 2px;
  color: rgba(79, 86, 101, 1);
}

/* Laptop */
@media (max-width: 1024px) {
}

/* Tablet */
@media (max-width: 768px) {
  nav .logo {
    width: 100%;
    justify-content: center;
  }

  nav .navigation {
    display: none;
  }

  nav .helper {
    display: none;
  }
}

/* Mobile  */
@media (max-width: 425px) {
  nav .logo {
    width: 100%;
    justify-content: center;
  }

  nav .navigation {
    display: none;
  }

  nav .helper {
    display: none;
  }
}
